In [26]:
import sqlite3

In [27]:
connection = sqlite3.connect('db/chinook.db')

In [28]:
cursor = connection.cursor()

In [29]:
Select = "SELECT * FROM albums WHERE artistid = 1"

In [30]:
Joins = "SELECT * FROM albums JOIN artists ON albums.artistid = artists.artistid WHERE artists.name = 'Queen'"

In [31]:
Create = "INSERT INTO albums (title, artistid) VALUES ('Big Bunda', 1)"

In [34]:
cursor.execute(Create)

KeyboardInterrupt:

In [35]:
connection.commit()

In [ ]:
Delete = "DELETE FROM albums WHERE title = 'Big Bunda'"

In [ ]:
cursor.execute(Delete)

In [ ]:
connection.commit()

In [1]:
connection.close()

NameError: name 'connection' is not defined