import sqlite3

In [73]:
import sqlite3

opret forbindelse til database

In [74]:
connection = sqlite3.connect('db/datamester.db')

Opret cursor

In [75]:
cursor = connection.cursor()

opret tabel #create_table = """ CREATE TABLE People( FirstName TEXT, LastName TEXT, Age INT);"""

In [76]:
create_table = """CREATE TABLE IF NOT EXISTS People(FirstName TEXT, LastName TEXT, Age INT);"""

udfør sql

In [77]:
cursor.execute(create_table)

insert data i tabel

In [78]:
Insert_data = """INSERT INTO People VALUES('Bekir', 'Shabab', 22)"""

indsæt med placeholders

In [79]:
cursor.execute(Insert_data)

Husk at commite så dine inserts bliver gemt

In [80]:
connection.commit()

hent alle fra people tabel

In [81]:
SELECT = """SELECT * FROM People"""

fetct med fetchone()

In [82]:
fetch = cursor.execute(SELECT).fetchone()

fetch med fetchmany(2)

In [83]:
fetchmany = cursor.execute(SELECT).fetchmany(2)

fetch med fetchall()

In [84]:
fetchall = cursor.execute(SELECT).fetchall()

Fremvis alle data

In [85]:
SELECT = "SELECT * FROM People"
fetchall = cursor.execute(SELECT).fetchall()
print(fetchall)

[('Bekir', 'Shabab', 22), ('Bekir', 'Shabab', 22), ('Bekir', 'Shabab', 22), ('Bekir', 'Shabab', 22), ('Bekir', 'Shabab', 22), ('Bekir', 'Shabab', 22)]

luk forbindelsen til databasen

In [86]:
connection.close()