import sqlite3

In [30]:
import sqlite3

opret forbindelse til database

In [31]:
connection = sqlite3.connect('db/datamester.db')

Opret cursor

In [32]:
cursor = connection.cursor()

opret tabel #create_table = """ CREATE TABLE People( FirstName TEXT, LastName TEXT, Age INT);"""

In [33]:
create_table = """CREATE TABLE People(FirstName TEXT, LastName TEXT, Age INT);"""

udfør sql

In [34]:
cursor.execute(create_table)

OperationalError: table People already exists

insert data i tabel

In [35]:
Insert_data = """INSERT INTO People VALUES('Bekir', 'Shabab', 22)"""

indsæt med placeholders

In [36]:
cursor.execute(Insert_data)

Husk at commite så dine inserts bliver gemt

In [37]:
connection.commit()

hent alle fra people tabel

In [38]:
SELECT = """SELECT * FROM People"""

fetct med fetchone()

In [39]:
fetch = cursor.execute(SELECT).fetchone()

fetch med fetchmany(2)

In [40]:
fetchmany = cursor.execute(SELECT).fetchmany(2)

fetch med fetchall()

In [41]:
fetchall = cursor.execute(SELECT).fetchall()

luk forbindelsen til databasen

In [ ]:
connection.close()